torch>=2.1 --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
pillow
tqdm
gradio>=4.36 --extra-index-url https://download.pytorch.org/whl/cpu
git+https://github.com/huggingface/optimum-intel.git
nncf>=2.13.0
openvino>=2024.4
transformers>=4.45.0 --extra-index-url https://download.pytorch.org/whl/cpu
gradio
opencv-python
streamlit
nuitka

fastapi
uvicorn
opencv-python-headless
